@import "tailwindcss/base";

@import "tailwindcss/components";
 
@import "tailwindcss/utilities"; 

html,body{
  font-family: 'Roboto', sans-serif; 
  max-width: 100vw !important;
  overflow-x:hidden;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

  .bounce-enter-active {
    animation: bounce-in .5s;
  }
  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  .odd-table:nth-child(odd) {
    --tw-bg-opacity: 1;
    background-color: rgba(247, 250, 252, var(--tw-bg-opacity));
  }

  .fruit-list-move {
    transition: transform 1s;
  }
  .fruit-table-move {
    transition: transform 1s;
  }